body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    background-color: #eeeee4;

}

.display{
    border: 2px solid rgb(99, 99, 99);
    text-align: right;
    font-size: 48px;
    background-color: white;
    color: black
}

.buttons {
    display: flex;
    height: 250px;
    width: 200px;

}

button {
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: #76b5c5;
    font-family: 'Kanit', sans-serif;
    color: white;
}

#enter {
    font-size: 14px;
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
    margin-top: -6px;

}

.addButton {
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.calculatorContainer {
    border: 2px solid grey;
    padding: 12px;
    border-radius: 5%;
    background-color: #abdbe3;
}